<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
   <!--  <class name="com.roofhub.qa.TestCases.LoginPageTest"/> --> 
      <class name="com.roofhub.qa.TestCases.OrderPageTest"/>
      <class name="com.roofhub.qa.TestCases.RegisterPageTest"/>
      <class name="com.roofhub.qa.TestCases.templatePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
